.HomescreenLayout{

    display: flex;
    flex-direction: column;

    padding: 10rem;

}

.HomescreenDocPagesContainer{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 5rem;

}

.HomeDocContainer{
    
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1.5rem;

    word-wrap: break-word;
    white-space: normal;
    word-break: break-word;
    white-space: normal;
    
}

.HomeDocPage{

    height: 18rem;
    width: 13.8rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem;

    color: rgb(11, 0, 108);
    filter: 
        drop-shadow(0 0 0.5rem rgba(147, 102, 182, 0.8))
        drop-shadow(0 0 0.5rem rgba(147, 102, 182, 0.8))
        drop-shadow(0 0 0.5rem rgba(147, 102, 182, 0.8));

    background-image: url("../../../images/image 1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    transition: transform 0.3s ease;

    
}

.HomeDocPage:hover{

    will-change: transform;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.05);

    filter: 
        drop-shadow(0 0 0.6rem rgba(31, 0, 167, 0.8))
        drop-shadow(0 0 0.6rem rgba(31, 0, 167, 0.8))
        drop-shadow(0 0 0.6rem rgba(31, 0, 167, 0.8));

}


.Options {

  display: none;
  position: absolute;

  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  z-index: 1;

  gap: 1rem;

}

.HomeDocPage:hover .Options {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(84, 115, 255, 0.5);
    mask-image: url("../../../images/image 1.svg");
    mask-size: cover;
    mask-repeat: no-repeat;

}


.HomeDocPageNew{

    height: 18rem;
    width: 13.8rem;

    font-size: 5rem;
    padding: 1rem;

    color: rgb(6, 0, 73);
    box-shadow: 0 0 1rem 0.5rem rgb(147, 102, 182);

    background-image: url("../../../images/image 2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    transition: transform 0.3s ease;

}

.HomeDocPageNew:hover{

    transform: scale(1.05);

    color: rgb(209, 201, 255);
    box-shadow: 0 0 1rem 0.5rem rgb(7, 0, 64);

}

.HomeDocButton{

    font-size: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;

    color: black;
    border-bottom: 0.25rem solid rgb(0, 0, 0);
    border-left: 0.25rem solid rgb(0, 0, 0);
    border-right: 0.1rem solid rgb(0, 0, 0);
    border-top: 0.1rem solid rgb(0, 0, 0);
    background-color: rgb(201, 211, 255);
    box-shadow: 0 0 1rem 0.5rem rgb(160, 187, 255);

}

.HomeDocButton:hover{

    color: white;
    background-color: rgb(0, 30, 201);
    box-shadow: 0 0 1rem 0.5rem rgb(152, 141, 255);

}


.HomeDocTitle{

    font-size: 1.3rem;
    font-weight: bold;

}

.HomeDocDateAndTime{

    width: 13.8rem;

    font-size: 1rem;

    color: rgb(75, 0, 75);

}