@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.DocscreenLayout{

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 5rem;

}

.DocComponentsContainer{

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;

}


.DocTitle{

  width: 100%;
  text-align: center;

  font-size: 1.5rem;
  padding: 1rem;

  word-wrap: break-word;
  white-space: normal;
  word-break: break-word;
  white-space: normal;

  border-left: 0.35rem solid black;
  border-bottom: 0.35rem solid black;
  border-right: 0.15rem solid black;
  border-top: 0.15rem solid black;
  background-color: rgb(194, 224, 255);
  box-shadow: 0 0 1rem 0.75rem rgb(167, 112, 196);

}

.ImportImageContainer{

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;

}

.DocImageErrorSpace {

  font-size: 1rem;

  color: rgb(202, 0, 0);

}

.DocImageErrorNoneSpace{

  height: 1rem;

}

.DocPaper{

  width: 60vw;
  height: 35rem;
  overflow-y: auto;

  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  border-left: 0.35rem solid black;
  border-bottom: 0.35rem solid black;
  border-right: 0.15rem solid black;
  border-top: 0.15rem solid black;
  background-color: rgb(194, 224, 255);
  box-shadow: 0 0 1rem 0.75rem rgb(167, 112, 196);

}

.DocStyle-0 {

  font-family: monospace;

}

.DocStyle-1 {

  font-family: 'VT323';

}

.DocStyle-2 {

  font-family: 'Silkscreen';

}

.DocColor-0{

  color: black;

}


.DocColor-1{

  color: rgb(255, 0, 0);

}


.DocColor-2{

  color: rgb(127, 0, 0);

}


.DocColor-3{

  color: rgb(255, 166, 0);

}

.DocColor-4{

  color: rgb(150, 58, 0);

}


.DocColor-5{

  color: rgb(255, 0, 183);

}

.DocColor-6{

  color: rgb(137, 0, 101);

}

.DocColor-7{

  color: rgb(255, 208, 0);

}

.DocColor-8{

  color: rgb(159, 114, 0);

}

.DocColor-9{

  color: rgb(0, 197, 0);

}


.DocColor-a{

  color: rgb(8, 94, 0);

}


.DocColor-b{

  color: rgb(0, 110, 255); 

}

.DocColor-c{

  color: rgb(0, 0, 190); 

}


.DocColor-d{

  color: rgb(153, 0, 204);

}


.DocColor-e{

  color: rgb(71, 0, 138);

}


.DocPage-0{

  background-color: rgb(218, 238, 255);

}

.DocPage-1{

  background-color: rgb(255, 218, 218);

}

.DocPage-2{

  background-color: rgb(254, 231, 210);

}


.DocPage-3{

  background-color: rgb(255, 218, 254);

}


.DocPage-4{

  background-color: rgb(255, 250, 225);

}

.DocPage-5{

  background-color: rgb(224, 255, 228);

}


.DocPage-6{

  background-color: rgb(186, 208, 255);

}


.DocPage-7{

  background-color: rgb(225, 206, 255);

}

.DocPage-8{

  background-color: rgb(43, 43, 43);

}

.DocFontSize-0 {

  font-size: 0.4rem;

}

.DocFontSize-1 {

  font-size: 0.6rem;

}

.DocFOntSize-2 {

  font-size: 0.8rem;

}

.DocFontSize-3 {

  font-size: 1rem;

}

.DocFontSize-4 {

  font-size: 1.2rem;

}

.DocFontSize-5 {

  font-size: 1.4rem;

}

.DocFontSize-6 {

  font-size: 1.6rem;

}

.DocFontSize-7 {

  font-size: 1.8rem;

}

.DocFontSize-8 {

  font-size: 2rem;

}

.DocFontSize-9 {

  font-size: 2.1rem;

}


.DocImageSize-0{

  img {

    height: auto;
    width: 10%;

  }

}

.DocImageSize-1{

  img {

    height: auto;
    width: 20%;

  }

}

.DocImageSize-2{

  img {

    height: auto;
    width: 30%;

  }

}

.DocImageSize-3{

  img {

    height: auto;
    width: 40%;

  }

}


.DocImageSize-4{

  img {

    height: auto;
    width: 50%;

  }

}


.DocImageSize-5{

  img {

    height: auto;
    width: 60%;

  }

}


.DocImageSize-6{

  img {

    height: auto;
    width: 70%;

  }

}


.DocImageSize-7{

  img {

    height: auto;
    width: 80%;

  }

}


.DocImageSize-8{

  img {

    height: auto;
    width: 90%;

  }

}


.DocImageSize-9{

  img {

    height: auto;
    width: 100%;

  }

}


.placeHolderButton {

  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;

  color: black;
  border-left: 0.25rem solid black;
  border-bottom: 0.25rem solid black;
  border-right: 0.15rem solid black;
  border-top: 0.15rem solid black;
  background-color: rgb(109, 125, 198);
  box-shadow: 0 0 1rem 0.75rem rgb(167, 112, 196);

}
