.FontStyleChangerOptionsContainer{

    width: 30vw;
    max-height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    flex-wrap: wrap;

    gap: 1rem;

}

.FontStyleChangerOption{

    font-size: 1rem;
    padding: 1rem;
    border-radius: 3rem;

    border-left: 0.25rem solid black;
    border-bottom: 0.25rem solid black;
    border-right: 0.15rem solid black;
    border-top: 0.15rem solid black;
    background-color: rgb(219, 209, 255);

}


.FontStyleChangerOptionActive{

    font-size: 1rem;
    padding: 1rem;
    border-radius: 3rem;

    color: white;
    border-left: 0.25rem solid black;
    border-bottom: 0.25rem solid black;
    border-right: 0.15rem solid black;
    border-top: 0.15rem solid black;
    background-color: rgb(91, 15, 255);

}