@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.DocToolBarChangeContainer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;
    padding: 1.5rem;
    font-size: 1rem;
    border-radius: 1rem;

    border-left: 0.3rem solid black;
    border-bottom: 0.3rem solid black;
    border-top: 0.15rem solid black;
    border-right: 0.15rem solid black;
    background-color: rgb(188, 161, 255);
    box-shadow: 0 0 1rem 0.5rem rgb(112, 125, 196);

}


.DocToolBarChangeBox{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

}


.DocToolBarChangeButton{

    font-size: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;

    color: black;
    border-left: 0.25rem solid black;
    border-bottom: 0.25rem solid black;
    border-top: 0.15rem solid black;
    border-right: 0.15rem solid black;
    background-color: rgb(150, 195, 255);
    box-shadow: 0 0 1rem 0.25rem rgb(130, 101, 159);

}

.DocToolBarChangeButton:hover{

    color: white;
    background-color: rgb(0, 0, 228);

}


.DocToolBarOptionBox{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 3rem;
    width: 6rem;

    border-left: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
    border-top: 0.15rem solid black;
    border-right: 0.15rem solid black;
    background-color: rgb(205, 220, 255);
    box-shadow: 0 0 1rem 0.25rem rgb(130, 101, 159);

}

.DocToolBarColorBox{

    height: 2rem;
    width: 2.5rem;

    border-left: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
    border-top: 0.1rem solid black;
    border-right: 0.1rem solid black;
    box-shadow: 0 0 1rem 0.25rem rgb(130, 101, 159);

}



.DocToolBarStyle-0{

    font-size: 1rem;
    font-family: monospace;

}


.DocToolBarStyle-1{

    font-size: 1.5rem;
    font-family: 'VT323', monospace;

}


.DocToolBarStyle-2{

    font-size: 1rem;
    font-family: 'Silkscreen', sans-serif;

}


.DocToolBarColor-0{

    background-color: black;

}


.DocToolBarColor-1{

    background-color: rgb(255, 0, 0);

}


.DocToolBarColor-2{

    background-color: rgb(127, 0, 0);

}


.DocToolBarColor-3{

    background-color: rgb(255, 166, 0);

}

.DocToolBarColor-4{

    background-color: rgb(150, 58, 0);

}


.DocToolBarColor-5{

    background-color: rgb(255, 0, 183);

}

.DocToolBarColor-6{

    background-color: rgb(137, 0, 101);

}

.DocToolBarColor-7{

    background-color: rgb(255, 208, 0);

}

.DocToolBarColor-8{

    background-color: rgb(159, 114, 0);

}

.DocToolBarColor-9{

    background-color: rgb(0, 197, 0);

}


.DocToolBarColor-a{

    background-color: rgb(8, 94, 0);

}


.DocToolBarColor-b{

    background-color: rgb(0, 110, 255); 

}

.DocToolBarColor-c{

    background-color: rgb(0, 0, 190); 

}


.DocToolBarColor-d{

    background-color: rgb(153, 0, 204);

}


.DocToolBarColor-e{

    background-color: rgb(71, 0, 138);

}

.DocToolBarPage-0{

  background-color: rgb(218, 238, 255);

}

.DocToolBarPage-1{

  background-color: rgb(255, 218, 218);

}

.DocToolBarPage-2{

  background-color: rgb(254, 231, 210);

}


.DocToolBarPage-3{

  background-color: rgb(255, 218, 254);

}


.DocToolBarPage-4{

  background-color: rgb(255, 250, 225);

}

.DocToolBarPage-5{

  background-color: rgb(224, 255, 228);

}


.DocToolBarPage-6{

  background-color: rgb(186, 208, 255);

}


.DocToolBarPage-7{

  background-color: rgb(232, 217, 255);

}

.DocToolBarPage-8{

  background-color: rgb(43, 43, 43);

}



.DocToolBarSlider {

    -webkit-appearance: none;
    width: 8rem;           
    height: 0.5rem;            
    outline: none;

    background-color: rgb(204, 209, 255);

    border-left: 0.1rem solid rgb(0, 0, 0); 
    border-bottom: 0.1rem solid rgb(0, 0, 0);  
    border-top: 0.05rem solid rgb(0, 0, 0);  
    border-right: 0.05rem solid rgb(0, 0, 0); 


    box-shadow: 0 0 1rem 0.1rem rgb(130, 101, 159);
    
}


.DocToolBarSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1rem;               
    height: 1.5rem;             
    background-color: #7f76ff;
    cursor: pointer;

    border-left: 0.15rem solid rgb(0, 0, 0); 
    border-bottom: 0.15rem solid rgb(0, 0, 0); 
    border-top: 0.05rem solid rgb(0, 0, 0);    
    border-right: 0.05rem solid rgb(0, 0, 0); 
}