.TrashscreenLayout{

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

    gap: 2rem;
    padding: 4rem;

}

.TrashEmptyMessage{

    font-size: 1.5rem;

}

.TrashOptionsContainer{

    width: 80vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;

    gap: 8rem;
    padding: 3rem;

}

.TrashOptionPage{

    height: 18rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    font-weight: bold;
    font-size: 1.3rem;
    padding: 1rem;

    color: rgb(6, 0, 73);
    filter: 
        drop-shadow(0 0 0.5rem rgba(147, 102, 182, 0.8))
        drop-shadow(0 0 0.5rem rgba(147, 102, 182, 0.8))
        drop-shadow(0 0 0.5rem rgba(147, 102, 182, 0.8));

    word-wrap: break-word;
    white-space: normal;
    word-break: break-word;

    background-image: url("../../../images/image 3.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    transition: transform 0.3s ease;

}

.TrashOptionPage:hover {

    transform: scale(1.05);

    filter: 
        drop-shadow(0 0 0.5rem rgba(0, 4, 115, 0.8))
        drop-shadow(0 0 0.5rem rgba(0, 4, 115, 0.8))
        drop-shadow(0 0 0.5rem rgba(0, 4, 115, 0.8));

}

.TrashOptionPageActive {

    height: 18rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    font-weight: bold;
    font-size: 1.3rem;
    padding: 1rem;

    color: rgb(6, 0, 73);
    filter: 
        drop-shadow(0 0 0.5rem rgba(0, 60, 255, 0.8))
        drop-shadow(0 0 0.5rem rgba(0, 60, 255, 0.8))
        drop-shadow(0 0 0.5rem rgba(0, 60, 255, 0.8));

    word-wrap: break-word;
    white-space: normal;
    word-break: break-word;

    background-image: url("../../../images/image 3.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}