.ImportedImagesContainer{

    width: 50vw;
    height: 30vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    overflow: auto;

    padding: 2rem;
    gap: 1rem;

    border-top: 0.15rem solid black;
    border-right: 0.15rem solid black;
    border-left: 0.3rem solid black;
    border-bottom: 0.3rem solid black;
    background-color: rgb(199, 200, 255);

}

.ImportedImage{

    height: auto;
    width: auto;
    max-width: 100%;

    padding: 1rem;

    border: 0.2rem solid rgb(41, 0, 146);
}

.ImageOptionButton{

    font-size: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;

    border-left: 0.3rem solid black;
    border-bottom: 0.3rem solid black;
    border-right: 0.15rem solid black;
    border-top: 0.15rem solid black;
    background-color: rgb(192, 182, 255);

}

.ImageOptionButton:hover{

    color: white;
    background-color: rgb(64, 0, 174);

}