.DocTitleChangerText{

    height: 15vh;
    width: 20vw;
    overflow-y: auto;

    padding: 1rem;
    font-size: 1rem;

    border-left: 0.3rem solid black;
    border-bottom: 0.3rem solid black;
    border-right: 0.15rem solid black;
    border-top: 0.15rem solid black;
    background-color: rgb(206, 227, 255);

}