html {
  font-size: 16px;
}

body{

  font-family: monospace;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  background-color: rgb(214, 182, 255);
    
}

* {

  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;

}

a:link,
a:visited,
a:hover,
a:active {
  
  display: inline-block;
  text-decoration: none;
  font-family: monospace;
    
}

button{

  font-family: monospace;

}

/*Custom tags:*/

/* Scrollbars */

::-webkit-scrollbar {
  width: 0.8rem; 
}
 
::-webkit-scrollbar-track {
  background: #0c0042;  
}

::-webkit-scrollbar-thumb {
  background-color: rgb(198, 202, 255);
  border-radius: 1rem;
  border: 0.15rem solid #1c0042; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(150, 204, 255); 
}


/* NavBars: */

.NavBarContainer {

  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  padding: 2rem;
  gap: 3rem;

  border-bottom: 0.35rem solid black;
  background-color: rgb(146, 188, 255);
  box-shadow: 0 0 1rem 0.75rem rgb(142, 101, 179);

}


.NavBarButton{

  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;

  color: black;
  border-left: 0.25rem solid black;
  border-bottom: 0.25rem solid black;
  border-right: 0.15rem solid black;
  border-top: 0.15rem solid black;
  background-color: rgb(197, 245, 255);
  box-shadow: 0 0 1rem 0.5rem rgb(112, 125, 196);

}

.NavBarButton:hover{

  color: white;
  background-color: rgb(0, 11, 210);

}

.NavBarButtonPlaceHolder{

  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;

  color: black;
  border-left: 0.25rem solid black;
  border-bottom: 0.25rem solid black;
  border-right: 0.15rem solid black;
  border-top: 0.15rem solid black;
  background-color: rgb(100, 151, 180);
  box-shadow: 0 0 1rem 0.5rem rgb(112, 125, 196);

}



/* Floating Flags: */

.FullScreenFloatingFlag{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;

  gap: 3rem;

  z-index: 1;

  top: 0;
  left: 0;
  right: 0;  
  bottom: 0; 

  background-color: rgba(0, 47, 255, 0.5);

}

.FullFlagContainer {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 3rem;
  gap: 2rem;
  font-size: 1rem;

  border-left: 0.35rem solid black;
  border-bottom: 0.35rem solid black;
  border-right: 0.15rem solid black;
  border-top: 0.15rem solid black;
  background-color: rgb(222, 166, 255);
  box-shadow: 0 0 1rem 0.5rem rgb(223, 180, 255);

}


.FullFlagButtonContainer{

  display: flex;
  flex-direction: row;

  gap: 2rem;

}

.FlagContainerButton{

  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;

  color: black;
  border-left: 0.3rem solid black;
  border-bottom: 0.3rem solid black;
  border-right: 0.15rem solid black;
  border-top: 0.15rem solid black;
  background-color: rgb(187, 220, 255);

}

.FlagContainerButton:hover{

  color: white;
  background-color: rgb(0, 102, 255);

}



/*Buttons: */

.GeneralButton{

  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;

  color: black;
  border-left: 0.25rem solid black;
  border-bottom: 0.25rem solid black;
  border-right: 0.15rem solid black;
  border-top: 0.15rem solid black;
  background-color: rgb(154, 172, 255);
  box-shadow: 0 0 1rem 0.75rem rgb(167, 112, 196);

}

.GeneralButton:hover {
  color: white;
  background-color: rgb(0, 3, 201);

}

.GeneralButtonsContainer {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 4rem;

}